@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.ActionLink("Register", "Registration", "User") new user , or use existing users.</h1>
<h2>List of Users</h2>
<div>
    <ul>
        <li>un: oleg@oleg.com pw:123456 active</li>
        <li>un: oleg2@oleg.com pw:123456 not active</li>
        <li>un: oleg3@oleg.com pw:123456 active</li>
        <li>un: oleg4@oleg.com pw:123456 active</li>
    </ul>
</div>